/* CSS Document */

body{ font-size:12px; color:#000; margin:0px; padding:0px; font-size:12px; font-family:'微软雅黑','verdana'; background:url(../images/bg_02.gif) repeat;}
body,ul,li,p,dd{ margin:0px; padding:0px;}
img{ vertical-align:top;}
li,dl{list-style-type:none;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
div,form,img,ul,ol,li,dl,dt,dd {margin:0; padding:0; border:0; }
.clear{ height:0px; line-height:0px; clear:botn;}
ul,li,dl,dd,dt{ list-style:none; font-weight:bold;}


a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a{ text-decoration:none; outline:none;}
a:active {star:expression(this.onFocus=this.blur());} 
a{ color:#000; text-decoration:none; }
a:hover{ color:#000; text-decoration:underline;}

.top{ width:100%; float:left; background:url(../images/top_02.gif) repeat-x; height:97px;}
.head{ width:1003px; margin:0 auto; background:url(../images/top_02.gif) repeat-x; height:97px;}
.logo{ width:217px; float:left;}

.nav {background:url(../images/top_02.gif) repeat-x; height:97px; overflow:hidden; width:715px; float:right;}
.menu {height:97px;width:715px; float:left; border-left:#0e0f13 solid 1px;}
.menu li {height:97px; line-height:97px; float:left; display:block; border-right:#0e0f13 solid 1px; border-left:solid 1px #31333a; width:100px; text-align:center;}
.menu li a {z-index:1; position:relative; display:block; height:97px; line-height:97px; color:#fff;  font-size:16px; overflow:hidden;  font-family:"微软雅黑";}
.menu li a:hover {float:left; font-family:"微软雅黑"; font-size:16px; color:#fff; background:#101114; display:block; width:100px; text-decoration:none;}
.menu li a span {z-index:1; position:absolute; width:100px; display:block; height:97px; line-height:97px; cursor:pointer; font-family:"微软雅黑";}
.menu li a span.out {top:0px;  left:0px; font-family:"微软雅黑";}
.menu li a span.over {background:#101114; top:-97px; left:0px; width:100px;font-family:"微软雅黑";}
.menu li a.sel span.over { top:0px; left:0px; font-family:"微软雅黑";}




.banner{ width:100%; float:left; height:450px; border-bottom:solid 1px #ccc;}
#full-screen-slider { width:100%; height:450px; float:left; position:relative}
#slides { display:block; width:100%; height:450px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:420px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:12px; height:12px; float:left; margin-left:7px; border-radius:7px; background:#000; }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#f00;}
.mian{ width:100%; float:left; background:url(../images/bg_08.png) repeat-y center;}
.con_bg{ background:url(../images/cont_bg_14.png) no-repeat top center; overflow:hidden;}
.cont{ width:1003px; margin:0 auto;}
.i_con{ width:1003px; float:left;  border-bottom:solid 1px #ccc; padding-bottom:30px;}
.i_about{ width:280px; float:left; margin-left:34px; display:inline;  margin-top:40px;}
.i_about_ti{ width:280px; float:left; height:33px;}
.i_about_con{ width:280px; float:left; line-height:21px; margin-top:15px;}
.i_about_con a{ color:#f00;}
.i_about_con a:hover{ color:#f00;}
.i_news{ width:355px; float:left; margin-left:30px; display:inline;  margin-top:40px;}
.i_news_ti{ width:355px; float:left; height:33px;}
.i_news_con{ width:355px; float:left; line-height:21px; margin-top:15px;}
.i_news_con dl { width:355px; float:left;}
.i_news_con dl dd{ background:url(../images/bg.png) -26px 0px no-repeat ;  height:88px; width:88px; float:left; padding:7px;}
.i_news_con dl dt{ width:230px; float:left; margin-left:10px; display:inline;}
.i_news_con dl dt ul{ float:left; width:230px;}
.i_news_con dl dt li { float:left; height:21px; line-height:21px; width:230px; overflow:hidden;}
.i_news_con dl dt li a:hover{ color: #f00;}
.i_contact{ width:260px; float:left; margin-left:30px;  margin-top:40px; display:inline;}
.i_contact_ti{ width:260px; float:left; height:59px;}

.i_contact_con{ width:260px; float:left; margin-top:5px; line-height:21px;}

.i_case{ width:1003px; float:left; position:relative; margin-top:30px; padding-bottom:30px;}
.ashow2{ width:948px; margin-left:28px; float:left; display:inline;}
.list_02 li { margin-right:20px; float:left; overflow:hidden; width:222px; height:152px; text-align:center;}
.list_02 li img{ width:220px; height:150px; border:solid 1px #ccc; overflow:hidden;}

.al { background:url(../images/bg.png) 0px 0px no-repeat ;  top:56px; position:absolute; height:37px;  overflow:hidden; width:13px; cursor:pointer; left:0px; overflow:hidden; }
.ar {background:url(../images/bg.png) -13px 0px  no-repeat;  top:56px; position:absolute; height:37px; line-height:1520px; width:13px; cursor:pointer; right:0px; overflow:hidden; }

/*--------公司简介--------*/
.a_banner{ width:100%; float:left; background:url(../images/a_banner_bg_03.gif) repeat-x; height:180px; text-align:center;}
.current{ width:100%; float:left; height:65px;}
.current_l{ width:500px; float:left; background:url(../images/current.png) no-repeat center left; height:65px; line-height:65px; text-indent:20px; font-family:"微软雅黑"; font-size:14px; color:#101114;}
.current_r{ width:150px; float:right;}
.current_r li{ float:left; width:89px; margin-right:10px;}
.current_r .submenu{ width:89px; height:50px; background:url(../images/bg.png) -128px 0px no-repeat ;  line-height:50px; padding-bottom:8px; text-align:center; color:#fff; }
.current_r .submenu1{ width:89px; height:50px; background:url(../images/current_09.png) no-repeat; line-height:50px; padding-bottom:8px; text-align:center; color:#fff;}
.current_r a{font-family:"微软雅黑"; color:#fff; font-size:14px; text-decoration:none;}
.current_r a:hover{font-family:"微软雅黑"; color:#fff; font-size:14px; text-decoration:none;}
.a_about{ width:960px; float:left; margin-left:20px; display:inline; line-height:30px; color:#101114; font-size:14px; font-family:"微软雅黑"; margin-top:10px;}
.a_about h1{ width:960px; font-family:"微软雅黑"; color:#c02023; font-size:30px; height:40px; line-height:40px;}
.a_about span{color:#f00;}
.a_bottom{ width:1003px; float:left; border-top:solid 1px #ccc; margin-top:20px;}
.a_program{ width:501px; border-right:solid 1px #ccc;  float:left;}
.a_program_ti{ width:501px; float:left; margin-top:10px;}
.a_program_ti dd{ width:400px; font-family:"微软雅黑"; color:#c02023; font-size:30px; height:40px; line-height:40px; float:left; margin-left:40px; display:inline;}
.a_program_ti dt{ width:400px; float:left; margin-left:30px; margin-top:10px; display:inline;}
.a_program_con{ width:501px; float:left; padding-bottom:30px;}
.a_program_con dl{ width:220px; float:left; margin-left:20px; display:inline; margin-top:20px;}
.a_program_con dl dd{ float:left; width:210px; border-bottom:solid 1px #ccc; padding-left:10px; padding-bottom:5px; line-height:50px; height:50px;  font-family:"微软雅黑"; font-size:30px; color:#000;}
.a_program_con dl dt{ float:left; margin-left:80px; width:120px; display:inline; color:#000; line-height:30px; height:30px; font-family:"微软雅黑"; font-size:14px;}
.a_program_con dl dt span{ font-size:16px;}
.a_strength{width:501px; float:left;}
.a_strength_con{ width:501px; float:left;}
.a_strength_con dl{ width:430px; float:left; margin-left:35px; display:inline; margin-top:40px; margin-bottom:20px;}
.a_strength_con dl dd{ float:left; width:430px; height:40px; line-height:40px; color:#e45b0f; font-size:30px; font-family:"微软雅黑";}
.a_strength_con dl dt{ width:430px; float:left; font-family:"微软雅黑"; font-size:14px; color:#666; margin-top:15px; line-height:30px;}
.a_strength_con dl dt span{ width:430px; float:left; font-size:18px; color:#000;}
.a_strength_bot{width:430px; font-family:"微软雅黑"; color:#c02023; font-size:24px; height:40px; line-height:40px; float:left; margin-left:40px; display:inline; margin-top:50px;}

/*--------企业文化--------*/
.cultural{ width:1003px; float:left; padding-bottom:50px;}
.cultural dl{ width:923px; float:left; margin-left:40px; display:inline; margin-top:20px;}
.cultural dl dd{ font-family:"微软雅黑"; font-size:16px; color:#000; width:923px; float:left; height:30px; line-height:30px;}
.cultural dl dt{font-family:"微软雅黑"; font-size:14px; color:#868686; width:923px; float:left; line-height:30px;}
.cultural ul{ margin-left:40px; display:inline; float:left; width:963px;}
.cultural ul li{ float:left; width:160px; margin-right:30px; display:inline; margin-top:10px; margin-bottom:10px;}
.cultural ul li span{ width:160px; float:right; text-align:center; font-family:"微软雅黑"; font-size:14px; color:#000; height:30px; line-height:30px;}

.cultural_list{ width:1003px; float:left; padding-bottom:50px;height:auto!important; height:400px; min-height:400px; }
.cultural_list dl{ width:923px; float:left; margin-left:40px; display:inline; margin-top:20px;}
.cultural_list dl dd{ font-family:"微软雅黑"; font-size:16px; color:#000; width:923px; float:left; height:30px; line-height:30px;}
.cultural_list dl dt{font-family:"微软雅黑"; font-size:14px; color:#868686; width:923px; float:left; line-height:30px;}
.cultural_list ul{ margin-left:40px; display:inline; float:left; width:963px;}
.cultural_list ul li{ float:left; width:160px; margin-right:30px; display:inline; margin-top:20px;}
.digPicBox{ z-index:200; position:fixed; left:50%; text-align:center; margin-right:-400px; width:800px;  _position:absolute; height:500px;  top:50%; margin-top:-250px; margin-left:-99999px; color:#000; font-family:"微软雅黑"; font-size:14px; }
.close{width:800px; float:left; text-align:right; right:-12px; top:-12px; position:absolute; z-index:999999;}
.blk_29 { padding-right: 0px; padding-LEFT: 0px;  overlow: hidden;  ZOOM: 1; POSITION: relative}
.blk_29 .LeftBotton {background:#000 url(../images/ca_hz_002.gif) no-repeat 0px 0px; LEFT:0px; float: left; width: 11px; CURSOR: pointer; POSITION: absolute; HEIGHT:400px;}
.blk_29 .RightBotton {	right:0px; background:#000 url(../images/ca_hz_002.gif) no-repeat 0px 0px; float:right; width: 11px; CURSOR: pointer; POSITION: absolute;  HEIGHT: 400px;}
.blk_29 .content {	margin: 0px auto; overlow: hidden; width: 800px;}
.blk_29 .box {	float: left; width:800px; TEXT-ALIGN: center}
.blk_29 .box img { DISPLAY: block; background: #fff;  margin: 0px auto; }
.blk_29 .box A:hover IMG {}
.blk_29 .box P {	margin: 6px auto 0px; width:800px; line-height:20px}
.rollphotos { width:800px}
.partC { margin-top:10px; overflow:auto; width:800px;}
.partC .PC_left {	overlow: auto; width: 470px}
.partC .PC_right {	overlow: auto; width: 470px}
.partC .PC_left {	float: left}
.partC .PC_right {	float: right}
.blk_29 .LeftBotton {	background:url(../images/ad_prev.png) no-repeat; LEFT:0px; float: left; width:80px; CURSOR: pointer; POSITION: absolute; TOP:180px; HEIGHT:80px}
.blk_29 .RightBotton {	right:0px; background:url(../images/ad_next.png) no-repeat; float: right; width:80px; CURSOR: pointer; POSITION: absolute; TOP:180px; HEIGHT:80px;}

.PhoTxt H1 {	font-weight: bold; font-size: 12px; line-height: 23px}
.PhoTxt P {	COLOR: #545454; line-height: 20px}

#fade{ display:none; z-index:11; position:absolute; top:0; left:0; width:100%; height:100%; background:#000;opacity: 0.6;filter:alpha(opacity=60);}


/*--------工程案例--------*/
.case{ width:1003px; float:left; padding-bottom:30px; border-bottom:solid 1px #ccc;}
.case dl{ width:302px; float:left; margin-left:25px; margin-top:20px; display:inline;}
.case dl dd{ width:302px; float:left;}
.case dl .gray{ border:solid 1px #ccc; background:#fff; height:208px; width:300px;}
.case dl .red{ border:solid 1px #af1919; background:#df0a0a; height:208px; width:300px;}
.case dl dd img{ width:290px; height:198px; overflow:hidden; padding:5px;}
.case dl dt{ width:302px; float:left; font-size:14px; font-family:"微软雅黑"; text-align:center; margin-top:10px;}
.case dl dt h1{ width:302px; height:25px; line-height:25px; text-align:center; overflow:hidden; color:#c12223;}
.case dl dt h1 a{ color:#c12223; font-size:14px;}
.case dl dt h1 a:hover{ color:#c12223; text-decoration:underline; font-size:14px;}
.case dl dt span{ width:302px; height:25px; line-height:25px; text-align:center; overflow:hidden; color:#6f6f6f;}
.case_titl{ width:963px; float:left; border-bottom:dashed 1px #ccc; margin-left:20px; display:inline; padding-bottom:10px; margin-top:20px;}

.case dl dt span a{color:#6f6f6f;}
.case dl dt span a:hover{color:#6f6f6f; text-decoration:underline;}
.case_titl dl{ width:960px; float:left;}
.case_titl dl dd{ width:960px; float:left; text-align:center; line-height:30px; height:30px; color:#c02023; font-size:16px; font-family:"微软雅黑";}
.case_titl dl dt{ color:#666; width:960px; float:left; text-align:center; font-size:12px; font-family:"微软雅黑";}
.case_cont{ width:960px; float:left; margin-top:20px; padding-bottom:30px; font-size:14px; font-family:"微软雅黑"; color:#666; line-height:30px; margin-left:20px; display:inline; overflow:hidden;}
.case_cont span{ width:960px; text-align:center; float:left; font-size:16px; font-family:"微软雅黑"; color:#000; line-height:40px; padding-bottom:10px;}

/*--------新闻中心--------*/
.news{width:1003px; float:left; padding-bottom:10px;}
.news dl { width:963px; float:left; margin-left:20px; margin-top:25px; border-bottom:#ccc dashed 1px; padding-bottom:25px;}
.news dl dd{ width:200px; height:150px; border:solid 1px #ccc; overflow:hidden; float:left; margin-left:10px; display:inline;}
.news dl dd img{ width:200px; height:150px; overflow:hidden;}
.news dl dt{ width:730px; float:right; line-height:30px; font-family:"微软雅黑"; font-size:14px; color:#666;}
.news dl dt h1{ color:#c02023; font-family:"微软雅黑"; font-size:16px; font-weight:bold;}
.news dl dt h1 a{color:#c02023; font-family:"微软雅黑"; font-size:16px; font-weight:bold;}
.news dl dt h1 a:hover{color:#c02023; font-family:"微软雅黑"; font-size:16px; font-weight:bold;}
.news_titl{ width:963px; float:left; border-bottom:dashed 1px #ccc; margin-left:20px; display:inline; padding-bottom:10px; margin-top:20px;}
.news_titl dl{ width:960px; float:left;}
.news_titl dl dd{ width:960px; float:left; text-align:center; line-height:30px; height:30px; color:#c02023; font-size:16px; font-family:"微软雅黑";}
.news_titl dl dt{ color:#666; width:960px; float:left; text-align:center; font-size:12px; font-family:"微软雅黑";}
.news_cont{ width:960px; float:left; margin-top:20px; padding-bottom:30px; font-size:14px; font-family:"微软雅黑"; color:#666; line-height:30px; margin-left:20px; display:inline; overflow:hidden;}
.news_cont span{ width:960px; text-align:center; float:left; font-size:16px; font-family:"微软雅黑"; color:#000; line-height:40px; padding-bottom:10px;}



/*--------分页--------*/

.pagination {
	float:left; width:1003px; padding-bottom:30px; padding-top:20px;
}
.ht-pagination {
	padding-left: 0;
	margin: 1.5rem 0;
	list-style: none;
	color: #999;
	text-align: center;
}
.ht-pagination:before, .ht-pagination:after {
	content: " ";
	display: table
}
.ht-pagination:after {
	clear: both
}
.ht-pagination>li {
	display: inline-block
}
.ht-pagination>li>a {
	position: relative;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	line-height: 1.2;
	background-color: #000;
	color: #fff;
	border-radius: 0;
	margin-bottom: 5px;
	margin-right: 5px
}
.ht-pagination>li:last-child>a, .ht-pagination>li:last-child>span {
	margin-right: 0
}
.ht-pagination>li>a:hover, .ht-pagination>li>a:focus {
	background-color: #000
}
.ht-pagination>.ht-active>a, .ht-pagination>.ht-active>a:hover, .ht-pagination>.ht-active>a:focus {
	z-index: 2;
	color: #fff;
	background-color: #d01515;
	border-color: #fff;
	cursor: default
}
.ht-pagination>.ht-disabled>a, .ht-pagination>.ht-disabled>a:hover, .ht-pagination>.ht-disabled>a:focus {
	color: #fff;
	background-color: #000;
	border-color: #ddd;
	cursor: not-allowed;
	pointer-events: none;
}
.ht-pagination .ht-pagination-prev {
	float: left;
}
.ht-pagination .ht-pagination-prev a {
	border-radius: 0
}
.ht-pagination .ht-pagination-next {
	float: right
}
.ht-pagination .ht-pagination-next a {
	border-radius: 0
}
.ht-pagination-centered {
	text-align: center
}
.ht-pagination-right {
	text-align: right
}



/*--------技术团队--------*/
.t_team{ width:960px; float:left; margin-left:20px; display:inline; line-height:30px; color:#101114; font-size:14px; font-family:"微软雅黑"; margin-top:10px;}
.t_team h1{ width:960px; font-family:"微软雅黑"; color:#c02023; font-size:30px; height:40px; line-height:40px;}
.t_team span{color:#f00;  font-size:18px; color:#605e5e; font-family:"微软雅黑"; width:960px; float:left; line-height:35px;}
.t_bottom{ width:1003px; float:left; border-top:solid 1px #ccc; margin-top:20px; }
.t_idea{ width:1003px;  float:left;}
.t_idea_ti{ width:1003px; float:left; margin-top:10px;}
.t_idea_ti dd{ width:963px; font-family:"微软雅黑"; color:#c02023; font-size:30px; height:40px; line-height:40px; float:left; margin-left:20px; display:inline;}
.t_idea_ti dt{ width:943px; float:left; margin-left:30px; margin-top:20px; display:inline; text-align:center;}
.t_idea_con{ width:980px; float:left; padding-bottom:30px; margin-top:10px;}
.t_idea_con ul{ width:560px; float:left; margin-left:280px; display:inline; margin-top:20px;}
.t_idea_con ul li{ float:left; height:22px; line-height:22px; margin-top:15px; font-size:16px; font-family:"微软雅黑"; width:260px;}
.t_idea_con dl{ width:960px; float:left; margin-left:20px; display:inline; margin-top:20px; line-height:30px; font-size:14px; font-family:"微软雅黑"; color:#666;}

.t_member{width:501px; float:left; border-left:solid 1px #ccc; padding-bottom:20px;}
.t_member_con{ width:501px; float:left;}
.t_member_con dl{ width:440px; float:left; margin-left:30px; display:inline; margin-top:30px; margin-bottom:20px;}
.t_member_con dl dd{ float:left; width:440px; height:50px; border-bottom:#ccc solid 1px; padding-bottom:5px; margin-bottom:25px;}
.t_member_con dl span{ float:left; margin-left:5px; display:inline;}
.post{ height:30px; line-height:30px; color:#000; font-size:30px;  font-family:"微软雅黑"; width:370px; float:right; overflow:hidden; margin:0px;}
.post_title{ height:20px; line-height:20px; color:#959393; font-size:18px; font-family:Arial, Helvetica, sans-serif;width:370px; float:right; overflow:hidden; margin:0px;}
.t_member_con dl dt{ width:430px; float:left; font-family:"微软雅黑"; font-size:14px;  color:#676767; line-height:30px;}

/*--------联系我们--------*/
.feedback{ width:654px; float:left; border-right:solid 1px #ccc; padding-bottom:30px;}
.feedback ul{ width:600px; float:left; margin-left:40px; font-family:"微软雅黑"; color:#c02023; font-size:25px; margin-top:20px;}
.feedback dl{ width:600px; float:left; margin-left:40px; display:inline; margin-top:20px;}
.feedback dd{ width:100px; float:left; text-align:right; height:25px; line-height:25px; font-family:"微软雅黑"; font-size:14px; color:#000;}
.feedback dt{ width:500px; float:left;}
.feedback dt .text_box{ width:300px; float:left; height:22px; line-height:22px; border:solid 1px #ccc;}
.feedback dt .text_box1{ width:450px; float:left; height:88px; line-height:22px; border:solid 1px #ccc;}
.feedback dt .submit{ background:#000; width:100px; text-align:center; height:35px; line-height:35px; border:none; color:#fff;font-family:"微软雅黑"; font-size:14px;}
.contact{ width:335px; float:right; line-height:35px; font-size:14px; font-family:"微软雅黑";}
.contact span{ font-family:"微软雅黑"; color:#c02023; font-size:20px; margin-top:20px; float:left; height:35px; line-height:35px; width:330px;}

/*--------人才招聘--------*/
.sliderbox { width:963px; float:left; margin-left:20px; display:inline; overflow:hidden; margin-top:15px; padding-bottom:30px;}
.sliderbox a { color:#01B2F1;}
.sliderbox a:hover { color: #FFF; text-decoration: none;}
.sliderbox dt {height:35px; line-height:35px; text-align:left; cursor:pointer; background:#dfdfdf url(../images/job.png) no-repeat right center;color:#00; width:963px; float:left; margin-top:10px; font-family:"微软雅黑"; font-size:14px; text-indent:15px;}
.sliderbox .open {  font-family:"微软雅黑"; font-size:14px; width:963px; color: #000; cursor: default; float:left; background:#dfdfdf url(../images/job1.png) no-repeat right center; }

.sliderbox dd {font-family:"微软雅黑"; font-size: 12px; color:#000;  padding:0; margin:0; position:relative;overflow:hidden; float:left;}


.position_job{ float:left;  width:943px; padding-left:20px; padding-bottom:30px; padding-top:20px; background:#e7e8e9;}
.position_job a{ color:#0066FF;}
.position_job a:hover{ color:#FF9900;}
.position_job p{ text-indent:10px; height:26px; line-height:26px;}
.position_job h3{color: #3A3A3A;font-size: 14px;font-weight: bold; clear:left;}
.position_job .nature{ clear:left; margin-top:20px;display: inline-block;}
.position_job .nature span{ float:left;display:block; line-height:30px; height:30px; margin-right:20px;}
.position_job .nature .f_style{color: #3A3A3A;font-size: 14px;font-weight: bold;  display:block; line-height:30px; height:30px; margin-right:0px; padding-right:10px;}

.position_job span{ float:left;}
.position_job .link{ border-bottom:1px solid #ccc; clear:left; margin:13px auto; margin-bottom:23px; width:100%;}
 #col {
	width:1003px; float:left;
	clear: both;
}

/*--------合作伙伴--------*/
.partner{ width:1003px; float:left; padding-bottom:50px; margin-top:20px;}
.partner h1{ width:960px; font-family:"微软雅黑"; color:#c02023; font-size:30px; height:40px; line-height:40px; margin-left:40px; display:inline;}
.partner ul{ width:960px; float:left; margin-left:40px; display:inline; margin-top:20px;}
.partner li{ float:left; margin-right:58px; width:180px; height:60px; margin-bottom:25px;}

.foot{ width:100%; float:left; background:#25272d; height:80px; overflow:hidden;}
.foot ul{ width:1003px; margin:10px auto 0 auto; height:80px; overflow:hidden;}
.foot ul li{ height:30px; line-height:30px; float:left; width:1003px; text-align:center; color:#fff; font-size:14px; font-family:"微软雅黑";}
.foot ul li a{ color:#fff;}
.foot ul li a:hover{ color:#fff;}